<div class="row">
  <h2>External Links</h2>
</div>
<div class="row">
  <div class="col-md-4 gallery">
    <a href="https://www.freedompodcasting.com" target="_blank">
      <%= image_tag "project_thumbnails/freedom-podcasting.png", class: "img-fluid", alt: "A Professional Podcast Production company" %>
    </a>
    <p>We are a company offering podcast production services to clients since 2011.</p>
  </div>
  <div class="col-md-4 gallery">
    <%= link_to "https://www.ianrobinson.net", target: "_blank" do %>
      <%= image_tag "project_thumbnails/personal-blog.png", class: "img-fluid", alt: "My personal blog - a study of art, enterprise and entrepreneurship." %>
    <% end %>
    <p>My personal blog with wide ranging topics from:</p>
    <p><font size="3"><em>house building, learning to code, book notes, travel ideas, film making, cryptocurrency and much more.</em></font></p>
  </div>
  <div class="col-md-4 gallery">
    <%= link_to "https://www.usefulprogrammer.org", target: "_blank" do %>
      <%= image_tag "project_thumbnails/useful-programmer.jpg", class: "img-fluid", alt: "My personal blog - a study of art, enterprise and entrepreneurship." %>
    <% end %>
    <p>My personal blog with wide ranging topics from:</p>
    <p><font size="3"><em>teaching early stage developers the basics of programatic thinking</em></font></p>
  </div>
</div>
