<div class="row">
  <h2>Projects:</h2>
</div>
<div class="row">
  <div class="row centered mt mb">
    <div class="col-md-4 col-sm-4 gallery">
      <%= link_to quick_check_path do %>
        <%= image_tag "project_thumbnails/wikipedia-quick-check-tool.jpg", class: "img-fluid" %>
      <% end %>
      <p>A tool for finding multiple related Wikipedia articles.</p>
    </div>
    <div class="col-md-4 col-sm-4 gallery">
      <%= link_to random_quote_path do %>
        <%= image_tag "project_thumbnails/tweet-generator.jpg", class: "img-fluid" %>
      <% end %>
      <p>A random quote generator for spamming Hack Reactor founders.</p>
    </div>
    <div class="col-md-4 col-sm-4 gallery">
      <%= link_to calculator_path do %>
        <%= image_tag "project_thumbnails/js-calculator.jpg", class: "img-fluid" %>
      <% end %>
      <p>A mobile responsive JavaScript calculator.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4 gallery">
    <%= link_to jockoclock_path do %>
      <%= image_tag "project_thumbnails/jocko-clock.jpg", class: "img-fluid", alt: "A clock that gets Jocko Willink to help you stop procrastinating" %>
    <% end %>
    <p>Jocko Clock is a Pomodoro clock which helps you eliminate procrastination featuring the voice of Jocko Willink.</p>
  </div>
  <div class="col-md-4 col-sm-4 gallery">
    <%= link_to heart_path do %>
      <%= image_tag "project_thumbnails/heart.jpg", class: "img-fluid", alt: "A love heart in CSS" %>
    <% end %>
    <p>A throbbing heart.</p>
  </div>
  <div class="col-md-4 col-sm-4 gallery">
    <%= link_to tick_tack_toe_path do %>
      <%= image_tag "project_thumbnails/tic-toc-toe.jpg", class: "img-fluid", alt: "A simple Tic Tac Toe Game" %>
    <% end %>
    <p>This is just a simple game of Tic Tac Toe written in JavaScript, HTML and CSS.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 gallery">
    <%= link_to roulette_wheel_consecutive_count_path do %>
      <%= image_tag "project_thumbnails/roulette-wheel-spinner-project.jpg", class: "img-fluid", alt: "A roulette wheel statistics project" %>
    <% end %>
    <p>A project where we explore the number of consecutive results in a roulette wheel spin.</p>
  </div>
</div>
