<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="text-center">
        <%= image_tag "ian.jpeg", width: "50px" %>
        Hi, I'm Ian.
      </h2>
    </div>
    <div class="col-8 offset-2">
      <p>This is my portfolio web app.</p>
      <p>This is a collection of my favorite projects.
        These were created over the past few years of learning to code.
      </p>
      <p>
        Some projects work better for users who login in. If you want to see those projects, please
        <%= link_to "sign in", new_user_session_path %> or
        <%= link_to "sign up", new_user_registration_path %>.
      </p>
      <p>Please check out the thumbnails below to explore my work.</p>
    </div>
  </div>

  <div class="row">
    <h2>Projects:</h2>
  </div>
  <div class="row">
    <div class="row centered mt mb">
      <!-- WORK PROJECTS ROW ONE -->
      <div class="col-md-4 col-sm-4 gallery">
        <%= link_to quick_check_path do %>
          <img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Wikipedia-Quick-Check-Tool.jpg" class="img-fluid" alt="A tool to quickly check many wikipedia entries related to a term">
        <% end %>
        <p>A tool for finding multiple related Wikipedia articles.</p>
      </div>
      <div class="col-md-4 col-sm-4 gallery">
        <%= link_to random_quote_path do %>
          <img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Random-Tweet-Generator.jpg" class="img-fluid" alt="A Podcast for the Location Independent">
        <% end %>
        <p>A random quote generator for spamming Hack Reactor founders.</p>
      </div>
      <div class="col-md-4 col-sm-4 gallery">
        <%= link_to calculator_path do %>
          <img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-JS-Calculator.jpg" class="img-fluid" alt="The Personal Blog of Ian Robinson">
        <% end %>
        <p>A mobile responsive JavaScript calculator.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 gallery">
      <%= link_to jockoclock_path do %>
        <img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Jocko-Clock.jpg" class="img-fluid" alt="A clock that gets Jocko Willink to help you stop procrastinating">
      <% end %>
      <p>Jocko Clock is a Pomodoro clock which helps you eliminate procrastination featuring the voice of Jocko Willink.</p>
    </div>
    <div class="col-md-4 col-sm-4 gallery">
      <%= link_to "heart/", target: "_blank" do %>
        <img src="https://ianrobinson.net/wp-content/uploads/2018/06/Ian-Robinson-Programming-Thumbnails-heart.jpg" class="img-fluid" alt="A Podcast for the Location Independent">
      <% end %>
      <p>A throbbing heart.</p>
    </div>
    <div class="col-md-4 col-sm-4 gallery">
      <a href="http://ttt.ianrobinson.net" target="_blank">
        <img src="https://ianrobinson.net/wp-content/uploads/2018/02/Ian-Robinson-Programming-Thumbnails-tic-toc-toe.jpg" class="img-fluid" alt="A simple Tic Tac Toe Game">
      </a>
      <p>This is just a simple game of Tic Tac Toe written in JavaScript, HTML and CSS.</p>
    </div>
  </div>

  <div class="row">
    <A NAME="work"></a>
    <h2>Business and Media Projects</h2>
  </div>
  <div class="row">
    <div class="col-md-6 gallery">
      <a href="https://www.freedompodcasting.com" target="_blank">
        <img src="https://ianrobinson.net/wp-content/uploads/2016/07/Ian-Robinson-Programming-Thumbnails-Freedom-Podcasting.png" class="img-fluid" alt="Excellent Podcast Production Company">
      </a>
      <p>We are a company offering podcast production services to clients since 2011.</p>
    </div>
    <div class="col-md-6 gallery">
      <a href="https://www.ianrobinson.net" target="_blank">
        <img src="https://ianrobinson.net/wp-content/uploads/2016/07/Ian-Robinson-Programming-Thumbnails-Blog.png" class="img-fluid" alt="The Personal Blog of Ian Robinson">
      </a>
      <p>My personal blog with wide ranging topics from:</p>
      <p><font size="3"><em>house building, learning to code, book notes, travel ideas, film making, cryptocurrency and much more.</em></font></p>
    </div>
  </div>

  <div class="row socialNav" id="social">
    <div class="col">
      <a class="btn btn-block btn-twitter" href="https://www.twitter.com/independentian" role="button" target="_blank">twitter</a></li>
    </div>
    <div class="col">
      <a class="btn btn-block btn-facebook" href="https://www.facebook.com/independentian" role="button" target="_blank">facebook</a></li>
    </div>
    <div class="col">
      <a class="btn btn-block btn-instagram" href="https://www.instagram.com/independentian" role="button" target="_blank">instagram</a></li>
    </div>
    <div class="col">
      <a class="btn btn-block btn-youtube" href="https://www.youtube.com/user/irobinson1984" role="button" target="_blank">youtube</a></li>
    </div>
    <div class="col">
      <a class="btn btn-block btn-github" href="https://github.com/iarobinson" role="button" target="_blank">github</a></li>
    </div>
  </div>

</div>
