<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="text-center">
        <%= image_tag "ian.jpeg", width: "50px" %>
        Hi, I'm Ian.
      </h2>
    </div>
    <div class="col-8 offset-2">
      <p>This is my portfolio web app.</p>
      <p>This is a collection of my favorite projects.
        These were created over the past few years of learning to code.
      </p>
      <% if current_user.nil? %>
        <p>
          Some projects work better for users who login in. If you want to see those projects, please
          <%= link_to "sign in", new_user_session_path %> or
          <%= link_to "sign up", new_user_registration_path %>.
        </p>
      <% end %>
      <p>Please check out the thumbnails below to explore my work.</p>
    </div>
  </div>


  <% unless current_user.nil? %>
    <%= render "pages/logged_in_user_projects" %>
  <% end %>
  <%= render "pages/project_rows" %>
  <%= render "pages/external_projects" %>
  <%= render "layouts/social_media_buttons" %>
</div>
